@import url(globals.css);

/* HEADER */
header {
  height: 350px;
  background-image: url(../images/to-do-lists.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 68px;
  line-height: 72px;
  padding: 60px 220px;
}

/* MAIN */
main {
  background-color: var(--background-color);
  padding: 80px 0;
}

h2 {
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;

}

.tasks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

/* section {
  text-align: left;
} */

h3 {
  font-size: 34px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--button-background-color);
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 15px;
}

.input-text {
  font-size: 24px;
  padding: 10px;
  margin-bottom: 15px;
}

.button-add {
  font-size: 24px;
  padding: 10px 30px;
  background-color: var(--button-background-color);
  color: white;
  cursor: pointer;
}

.button-add:hover {
  background-color: var(--button-dark-color);
}

.button-add:active {
  background-color: var(--button-saturated-color);
}

.button-delete {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.button-img {
  height: 15px;
}

.custom-checkbox {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: var(--background-saturated-color);
  text-align: center;
  padding: 50px 0;
}
